[worldserver]
RuneManager.enabled = true
RuneManager.debug = false
RuneManager.maxSlots = 10
RuneManager.defaultSlot = 8
RuneManager.chanceDropRuneQualityWhite = 90.0;
RuneManager.chanceDropRuneQualityGreen = 10.0;
RuneManager.chanceDropRuneQualityBlue = 0.2;
RuneManager.chanceDropRuneQualityEpic = 0;
RuneManager.chanceDropRuneQualityLegendary = 0;
RuneManager.chanceDropRuneQualityRed = 0;